#root {
  height: 100vh;
  background-color: #f5f5f5;
  position: relative;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top .25s ease-out;

  h3 {
    color: #313b3f;
    text-align: center;
    letter-spacing: .3px;
    margin: 0 0 20px 0;
  }
}

.has-data {
  top: 85px !important;
}